:root {
    --color-primary: hsl(158, 36%, 37%);
    --color-secondary: hsl(30, 38%, 92%);
    --color-headings: hsl(212, 21%, 14%);
    --color-body: hsl(228, 12%, 48%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--color-body);
    background-color: var(--color-secondary);
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
    border-radius: 3%;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3% 3% 0 0%;
}

.card__article {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.article__intro {
    font-weight: 600;
    letter-spacing: 0.5em
}

.article__title {
    font-family: 'Fraunces', serif;
    color: var(--color-headings);
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 4rem;
}

.article__body {
    font-weight: 400;
}

.big--number {
    color: var(--color-primary);
    font-size: 5rem;
    font-family: 'Fraunces', serif;
    margin-right: 5%;
}

.small--number {
    text-decoration: line-through;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.article__button {
    border: 0;
    color: white;
    font-weight: 400;
    text-align: center;
    font-weight: 700;
    background-color: var(--color-primary);
}

.button:hover {
    background-color: var(--color-headings);
    cursor: pointer;
    transition: 0.3s;
}

.button--icon {
    size: 50%;
    color: white;
    padding-right: 3%;
}

@media screen and (min-width: 1024px) {
    .card {
        flex-direction: row;
        max-height: 475px;
        max-width: 700px;
    }
    .card__image {
        display: none;
    }
    .card__image--desktop {
        display: block !important;
        max-height: 475px;
        max-width: 700px;
        background-size: cover;
        border-radius: 3% 0% 0 3%;
    }
}